.name {
  background: linear-gradient(50deg, #ff00ff, #c8ff00);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: sans-serif;
}
.active {
  border-bottom: 2px solid #ff00ff;
}
.navbar {
  position: relative;
  width: 100%;
  top: 0;
  z-index: 2;
}
.brand {
  margin-top: 12px;
  color: #f5f5f5;
  text-transform: capitalize;
  font-size: x-large;
  font-style: italic;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
}

.logo {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  border: 3.5px solid;
  border-color: #ff00ff;
}
/* .navbarcollapse {
  display: none;
} */
.toggle {
  background-color: #c8ff00;
}
.togglebut {
  background-color: #c8ff00;
}
.togglebut:hover {
  background-color: #c8ff00;
}
.navbarcontainer {
  background-color: black;
}
.navitems_ul {
  display: flex;
  gap: 25px;
  color: #f5f5f5;
}
.navitem_li {
  color: #f5f5f5;
  background: linear-gradient(50deg, #ff00b7 20%, #00ff66);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: larger;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
  font-style: oblique;
}
.navitem_link {
  text-decoration: none;
  cursor: pointer;
  color: whitesmoke;
}
.hireme {
  background: linear-gradient(50deg, #ff00ff, #c8ff00);
  width: 100px;
  border-radius: 10px;
  border: none;
  color: white;
}
.hireme:hover {
  background-color: transparent;
}
/*media queries*/
@media only screen and (max-width: 1000px) {
  .brand {
    font-size: medium;
  }
  .logo {
    width: 30px;
    height: 30px;
  }
  .navitems_ul {
    gap: 10px;
  }
  .navitem_li {
    font-size: medium;
  }
  .togglebut {
    width: fit-content;
  }
}
