.projectscontainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
  position: relative;
  color: red;
  z-index: 3;
}
.projectheading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  color: white;
  font-weight: bolder;
  margin-bottom: 30px;
  position: relative;
}
.projectheading h1 {
  padding: 0px 30px;
  font-size: 50px;
  font-weight: 600;
  background: linear-gradient(10deg, #ff00ff 20%, #c8ff00 60%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.projectheading img {
  position: absolute;

  z-index: -1;
}
.singleprojects {
  width: 350px;
  height: fit-content;
  border-radius: 10px;
  color: white;
  border: 2px solid #ff00ff;
}
.singleprojects:hover {
  cursor: pointer;
  /* background-image: linear-gradient(50deg, #ffffff, #f021f0, #3fa3ce, #ffffff); */
  /* background-image: linear-gradient(45deg, #f2eef1, #d8cec4); */

  /* background-image: linear-gradient(50 deg, #e8e8e8 #b7b7b7); */
  border: none;
}

.threeprojects,
.sixprojects {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}
.image {
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
}
.link {
  text-decoration: none;
}
.titleanddesc {
  padding: 10px;
}
.title {
  font-size: 15px;
  font-family: sans-serif;
  font-weight: 800;
  background: linear-gradient(10deg, #ff00ff 4%, #c8ff00 60%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.languages {
  font-size: 15px;
  font-family: sans-serif;
  font-weight: 900;
  color: white;
  background: linear-gradient(10deg, #00ff22 10%, #c8ff00 60%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.desc {
  margin-bottom: 10px;
  font-size: 10px;
  font-weight: 300;
  font-family: sans-serif;
  text-align: justify;
  color: white;
  text-transform: lowercase;
}
.langskills {
  font-weight: 500;
}
.source {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
}
.viewcode,
.livedemo,
.videodemo {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: transparent;
  border-radius: 10px;
  width: 100px;
  height: fit-content;
}
.viewcode:hover,
.videodemo:hover,
.livedemo:hover {
  background-image: linear-gradient(60deg, #c8ff00, #22c622);
  color: black;
}
.codeview,
.liveview,
.videoview {
  margin-top: 5px;
  margin-bottom: 5px;
  text-decoration: none;
  color: white;
  font-weight: 500;
}
.codeview:hover,
.liveview:hover,
.videoview:hover {
  color: black;
}

.iconsofview {
  /* color: black; */
  font-size: 1.5rem;
}
.iconsofview:hover {
  color: black;
}
@media only screen and (max-width: 1000px) {
  .threeprojects,
  .sixprojects {
    margin-top: 10px;
    display: flex;
    margin-bottom: 50px;
    flex-direction: column;
  }
  .projectheading h1 {
    padding: 0px 30px;
    font-size: 30px;
    margin-top: 20px;
    font-weight: 500;
  }

  .singleprojects {
    width: 100%;
    height: fit-content;
    margin-bottom: 20px;
  }

  .desc,
  .langskills {
    font-size: 15px;
  }
  .title {
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 800;
    background: linear-gradient(10deg, #ff00ff 4%, #c8ff00 60%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .languages {
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 800;
    color: white;
    background: linear-gradient(10deg, #00ff22 10%, #c8ff00 60%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .source {
    flex-direction: column;

    margin-top: 10px;
    margin-bottom: 10px;
  }
  .viewcode,
  .livedemo,
  .videodemo {
    margin-bottom: 20px;
    width: 100%;
    height: fit-content;
    background-image: linear-gradient(50deg, #c8ff00 50%, #22c622);
    color: black;
  }
  .viewcode:hover,
  .videodemo:hover,
  .livedemo:hover {
    background: transparent;
  }
  .codeview,
  .liveview,
  .videoview {
    font-weight: bolder;
    color: black;
  }
}
