.container {
  color: white;
  display: flex;
  flex-direction: column;
}

.serviceHeading {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  font-family: sans-serif;
}

.serviceHeading h1 {
  background: linear-gradient(10deg, #ff00ff 4%, #c8ff00 60%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 40px;
}
.allservices {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 2rem;
}

.singleService {
  display: flex;
  flex-direction: row;
  /* border: 2px solid #ff00ff; */
  padding: 20px;
  gap: 30px;
  /* background: linear-gradient(270deg, #f48cf4, #c8ff00); */
  border-radius: 10px;
}
.singleService:hover {
  /* background: linear-gradient(270deg, #c8ff00, #ff00ff); */
  color: white;
  cursor: pointer;
}

.serviceimage {
  /* margin-top: 30px; */
  width: 400px;
  height: 300px;
  border-radius: 10px;
}
.aboutService {
  display: flex;
  flex-direction: column;
}
.serviceName {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
  color: white;
}
.serviceDesc {
  text-align: justify;
  color: white;
  font-weight: 400;
}

.moreAboutService {
  margin-top: 14px;
  text-decoration: none;
}
.moreAboutService a {
  text-decoration: none;
  font-weight: bold;
  color: black;
  background: linear-gradient(140deg, #0dbbe2, #d11a4b);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media only screen and (max-width: 1000px) {
  .allservices {
    margin-top: 20px;
  }
  .serviceHeading h1 {
    margin-top: 30px;
  }
  .singleService {
    width: 100%;
    color: white;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 0px;
    gap: 0px;
  }

  .serviceimage {
    width: 100%;
    height: fit-content;
  }
  .serviceName {
    margin-top: 0px;
    font-size: 15px;
    margin-bottom: 10px;
    text-align: center;
  }
  .serviceDesc {
    font-size: 10px;
    font-weight: 500;
  }
  .moreAboutService {
    font-size: 15px;
    margin-bottom: 5px;
  }
}
